<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playboss.satkamatka">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/madhur_milan"
        android:label="@string/app_name"
        android:roundIcon="@drawable/madhur_milan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.playboss.satkamatka.SingleBet"
            android:exported="false"
            android:label="@string/title_activity_single_bet"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.playboss.satkamatka.PinActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.playboss.satkamatka.ForgotPassword"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.DelhiGames"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.DelhiJodiMarkets"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.AdminMessage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.OTPVerification"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.TransferCoin"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.Wallet"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.starline_timings"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.starline_games"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.WithdrawDetails"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.SpMotor"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.SpDpTp"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.RedBracket"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.OddEven"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.starline_markets"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.withdraw"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.single_bet"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.games"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.deposit_money"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.webview"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.chart_menu"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.charts"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.crossing"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.earn"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.fullsangam"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.halfsangam"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.betting"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.splash"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.playboss.satkamatka.ledger"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.transactions"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.played"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.howot"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.thankyou"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.bazar"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.notice"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.rate"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.profile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.signup"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.login"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.playboss.satkamatka.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.playboss.satkamatka.ResetPin"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/madhur_milan" />
    </application>

</manifest>